body{
    background-color: aliceblue;
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm271batch2-bb-003.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=098c5506644915dbe9c9b2ebb346b7db");
    font-family: 'Source Sans Pro', sans-serif;

}
.wrapper{
    max-width: 1200px;
    margin: 30px auto 30px auto;
    background-color: rgb(255, 255, 255);
}
.wrapper img{
    width: 100%;
}
.top i{
    font-size: 200%;
}
.footer i{
    font-size: 200%;
}
.wrapper h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.wrapper h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.wrapper h3{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.wrapper h4{
    font-family: 'Oswald', sans-serif;
}